.task-element .hover-img {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 0px;
    max-width: 320px;
    min-width: 150px;
    height: 100%;
    width : auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    
  }
  
.task-element .hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.task-element .hover-img::before,
.task-element .hover-img::after {
  background-color: rgba(0, 0, 0, 0.5);
  /* border-top: 32px solid rgba(0, 0, 0, 0.5); */
  /* border-bottom: 32px solid rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.task-element .hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.task-element .hover-img:hover::before,
.task-element .hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}
.task-element .hover-img:hover figcaption {
  opacity: 1;
}